AWS_ACCOUNT_ID=
AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=

GLUE_CRAWLER=
GLUE_CRAWLER_IAM_POLICY=
GLUE_CRAWLER_IAM_ROLE=
GLUE_DB=

REDSHIFT_IAM_ROLE=
REDSHIFT_NAMESPACE=
REDSHIFT_WORKGROUP=

S3_BUCKET=
S3_BUCKET_FOLDER=

SQS_QUEUE=